services:
    watchtower:
        container_name: watchtower
        image: containrrr/watchtower
        restart: always
        command: >
            --cleanup
            --no-startup-message
            --rolling-restart
            --include-stopped
            --include-restarting
            --revive-stopped
            --interval "9000"
        dns:
            - 1.1.1.1
            - 8.8.8.8
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        cpus: $CPU_LIMIT
        mem_limit: $RAM_LIMIT
        mem_reservation: $RAM_RESERVE
        logging:
            driver: "json-file"
            options:
                max-size: "10k"
                max-file: "1"
