services:
    watchtower-igm:
        container_name: watchtower-igm
        image: nickfedor/watchtower
        restart: always
        read_only: true
        security_opt:
            - no-new-privileges:true
        labels:
            - project=standard
        command: >
            --cleanup
            --no-startup-message
            --rolling-restart
            --interval 14400
            --scope igm
            --http-api-periodic-polls
        dns:
            - 1.1.1.1
            - 8.8.8.8
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        cpus: $CPU_LIMIT
        mem_limit: $RAM_LIMIT
        mem_reservation: $RAM_RESERVE
        logging:
            driver: json-file
            options:
                max-size: 10k
                max-file: 1
